@import '../../sass/variables.module.scss';

@mixin button($range, $check: false) {
	padding: $range;
    @if $check {
        margin-right: $range;
    }
}

%switcher {
	@include button(10px, true);
}
@each $name in 'chat1' 'chat2' {
    .#{$name} {
        border-radius: 5px;
    }
}

.chat1 {
    @extend %switcher;
    border: 3px solid $borderColor;
}
